body{
font-family: Arial;
margin:0;
background:#0f172a;
color:white;
text-align:center;
}

header{
background:#020617;
padding:30px;
}

nav{
background:#1e293b;
padding:15px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

section{
padding:40px;
}

footer{
background:#020617;
padding:20px;
}
