.banner-box{
position:relative;
display:inline-block;
border-radius:18px;
padding:4px;
background:#020617;
}

.banner-box::before{
content:"";
position:absolute;
inset:0;
border-radius:18px;
padding:2px;
background:linear-gradient(120deg, transparent, white, transparent);
animation:borderMove 4s linear infinite;

/* show only border */
-webkit-mask:
linear-gradient(#000 0 0) content-box,
linear-gradient(#000 0 0);
-webkit-mask-composite: xor;
mask-composite: exclude;
}

.banner-img{
display:block;
width:90%;
max-width:900px;
border-radius:15px;
}

@keyframes borderMove{
0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}
}
