body{
font-family: Arial;
margin:0;
background: linear-gradient(270deg,#020617,#0f172a,#1e1b4b,#020617);
background-size: 600% 600%;
animation: bgmove 12s ease infinite;
color:white;
text-align:center;
}

@keyframes bgmove{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

header{
background:#020617;
padding:30px;
}

nav{
background:#1e293b;
padding:15px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
transition:0.3s;
}

nav a:hover{
color:#22c55e;
text-shadow:0 0 10px #22c55e;
}

section{
padding:40px;
}

footer{
background:#020617;
padding:20px;
}
