.banner-box{
position:relative;
display:inline-block;
border-radius:18px;
overflow:hidden;
padding:4px;
}

.banner-box::before{
content:"";
position:absolute;
top:-50%;
left:-50%;
width:200%;
height:200%;
background:linear-gradient(120deg, transparent, white, transparent);
animation:borderMove 4s linear infinite;
}

.banner-img{
position:relative;
display:block;
width:90%;
max-width:900px;
border-radius:15px;
z-index:1;
background:#020617;   /* prevents glow bleeding */
}

@keyframes borderMove{
0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}
}
